*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
  color: inherit;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #161619;
  padding: 50px;
  color: white;
}

.card{
  height: 80rem;
  width: 50rem;
  background-color: #23252C;
  display: inline-block;
  margin: 5rem;
  
  /* margin-right: auto; */
}

.card-title{
  color: white;
}

.card-body{
  height: 70rem;
  width: 40rem;
  background-color: #161619;
  transform: translate(5rem, 5rem);
  position: relative;
}

.card-image{
  width: 40rem;
  height: 30rem;
  background-image: url(./public/woman.png);  
  background-size: cover;
  background-position: -40px -50px;
}

.info-name{
  margin-top: 2rem;
}

.info-work{
  font-weight: 100;
  margin: .25rem 0px;
  color: #F3BF99;
}

.App{
  text-align: center;
}

.info-buttons{
  margin: .75rem;
  width: 10rem;
  height: 4rem;
  background-color: grey;
  border-radius: 1rem;
}

.linkedin{
  width: 2rem;
  height: 2rem;
}

.about-interests{
  text-align: left;
  padding: 3rem;
  padding-top: 1rem;

}

.info-about{
  margin-top: 1rem;
}

.about{
  margin-top: .5rem;;
  font-weight: 50;
  font-size: 1.25rem;
  letter-spacing: .1rem;
  
}

.card-footer{
  width:100%;
  /* background-color: antiquewhite; */
  height: 4rem;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;

}

.social-icon{
  width: 4rem;
  height: 4rem;
  margin: 0rem 2rem;
}
